:root {
  --primary-colour: #bd9654;
  --secondary-colour: #322320;
  --branding-font: "Dancing Script", cursive;
}

h1 {
  text-align: center;
  font-size: 75px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-family: var(--branding-font);
}

p {
  font-size: 25px;
  text-align: justify;
  font-family: var(--branding-font);
  line-height: 1.5;
}

nav {
  padding: 20px 0;
}
nav ul {
  padding: 0 0 0 10px;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--secondary-colour);
  transition: all 100ms ease-in-out;
}

nav li.active a,
nav a:hover {
  color: var(--primary-colour);
}

.content ul {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: blueviolet;
}

ol li {
  list-style-type: lower-roman;
}

.container {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/159/877/original/recipe_book2.png?1741702935);
  background-size: cover;

  margin: 60px auto;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.introduction {
  display: flex;
  margin: 20px 40px 20px 40px;
  padding: 0 50px;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-branding {
  background: var(--secondary-colour);
  border-radius: 10px;
  color: var(--primary-colour);
  font-size: 16px;
}

.variations ul {
  text-align: justify;
}

.logo {
  max-height: 60px;
  border-radius: 10px;
}

.truffle-images {
  margin: 0 auto;
  display: block;
  padding-left: 120px;
}

.variant-images {
  margin: 0 auto;
  max-width: 500px;
}

@media (max-width: 600px) {
  nav a {
    font-size: 14px;
    margin: 5px;
  }

  .logo {
    max-height: 30px;
  }

  h1 {
    font-size: 45px;
  }

  .introduction {
    display: flex;
    margin: 5px 15px 5px 15px;
    padding: 0 10px;
  }

  p {
    font-size: 22px;
  }

  .content ul {
    padding-left: 0;
  }

  .method ol {
    padding: 0 auto;
  }

  footer {
    font-size: 12px;
  }
}
